body {
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 120px;
  margin-right: 20px;
}

h1 {
  color: #333;
}

h2 {
  margin-top: 30px;
}

h3 {
  margin-top: 15px;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
}

/* The sidebar menu */
.sidenav {
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  /*height: 100%; /* Full-height: remove this if you want "auto" height */
  /* background-color: #111; /* Black */
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: black;
  display: block;
  /*font-size: 25px;*/
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #0066cc;
  text-decoration: underline;
}